
.hero-banner {
	height: 730px;
	width: 100%;
	margin: 0;
}

#head-text {
	margin: 20px 40px;
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 100px;
}

#description {
	margin: 20px 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 30px;
	text-align: center;
}

.fa-magnifying-glass {
	float: right;
	text-decoration: none;
	color: white;
	margin-top: 50px;
	margin-right: 50px;
	font-size: 65px;
}

.fa-magnifying-glass:hover {
	color: #537895;
}